<body class="main">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<div class="header" align="center">
			<img class="header__image" width="50" height="50"src='https://i.ibb.co/CVpTKL3/footerlogo.png'/>
			DogeCash<span style="color: black" class="tmsize">&trade;</span>&nbsp;&nbsp;Dashboard
  <div class="header-right">
			<a href="#contact">GitHub</a>
			<a href="https://explorer.dogec.io">Explorer</a>
			<a class="active" href="#home">Home</a>
			</div>
			</div>
    <main class="main-content">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<app-networkinfo></app-networkinfo>
	<app-status></app-status>
	<app-mempool></app-mempool>
	<app-bandwidth></app-bandwidth>
	<app-nodedetails></app-nodedetails>
	<app-nodeinfo></app-nodeinfo>
	<app-donate></app-donate>
	<app-fee></app-fee>
	</main>
    <aside class="main-ads">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	More Crap
	</aside>
  </div>
  <div class="footer" align="center">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  	  <img class="footer__image" width="35" height="35"src='https://i.ibb.co/CVpTKL3/footerlogo.png'/>
    <pre>
	Copyright &copy; 2019 DogeCash Cryptocurrency
	Site design / Logo &copy; 2019 DogeCash Cryptocurrency
	</pre>
	</div>
</body>

